@import './partials/variables';
@import './partials/index.scss';
@import './partials/utilityclass.scss';


@import './header.scss';
@import './footer.scss';

.jumbotron-container {
    height: 440px;
    background-image: url('../images/jumbotron.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    .ps_absolute {
        position: relative;
        min-width: 200px;
        .button_absolute {
            position: absolute;
            text-transform: uppercase;
            padding: 20px 40px;
            background-color: $bg-cyan;
            border: none;
            color: white;
            font-size: 12px;
            font-weight: bold;
            transform: translate(0, -50%);
            margin-right: auto;
            ;
        }
    }
}
            
        
            
    
    
    
    
    

.bg-color-black {
    height: 600px;
    background-color: #1C1C1C;
    padding-top: 50px;
    .container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 30px;
        padding: 10px;

        .card {

            display: flex;
            flex-direction: column;
            max-width: 185px;

            img {
                width: 100%;
                aspect-ratio: 1;
                flex-basis: 80%;
            }

            h3 {
                color: white;
                text-transform: uppercase;
                padding-top: 20px;
                font-size: 0.85rem;
            }
        }
    }
}